<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Relecloud Galaxy Tours</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- TODO: Import Vue.js core library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./index.js"></script>

</head>

<body>
    <div class="nav-bar"></div>
    <h1>Relecloud Galaxy Tours</h1>

    <!-- TODO: Add information display -->
    <div id="app">
    <!-- YOU CAN ONLY INTERACT WITH VUE IN THE DIV WITH ID app -->
    <!-- START APP -->
    
   
    
        <h2>{{productName}}</h2>
        <div>{{productDescription}}</div>

        <hr/>
        <!-- Product description -->
        <div v-for="(productClass, index) of productClasses" :key="index" class="row">
            <div class="column">
                {{productClass.name}}
            </div>
            <div class="column">
                ${{productClass.price.toLocaleString('en-US')}}            
            </div>
            <button v-if="productClass.earlyBird" class="button">Book early!</button>
            <button v-else class="button">Book now!</button>

            <div v-show="productClass.seatsAvailable < 10">Almost out of stock!</div>
        </div>    
        
        <img :src="productImage" :alt="productImageDescription" :style="productImageStyle"/>
        

        <!-- Form -->
        <!-- we use v-show to only show this if the booking isn't done. this is accessed via the
         booking.completed property -->
        <form v-show="!booking.completed">
            <h2>Book now!</h2>
            <div class="row">
                <label for="product-cabin">Select class:</label>
                <!-- So here, we are looking to try and updated the value for the booking object.
                 the cabinIndex is just an int that represents the drop down options.  -->
                <select id="product-cabin" v-model="booking.cabinIndex">
                    <!-- Here, we use the v-for directive to iterate through the product.Cabins options. 
                     the index is tracked in the value. -->
                    <option v-for="(cabin, index) in product.cabins" :value="index">
                        {{ cabin.name }} ${{ cabin.price.toLocaleString('en-US')}}
                    </option>
                </select>
            </div>
            <div class="row">
                <label for="notes">Notes:</label>
                <textarea v-model="booking.notes" rows="3"></textarea>
            </div>
            <div class="row">
                <!--TODO: Add button later -->

                <button class="button" type="button" v-on:click="bookCabin">Book now!</button>
            </div>
        </form>


    <!-- END APP -->
    </div>
    
    <!-- TODO: Import Vue app -->
    <script>
        app.mount('#app');
    </script>
</body>

</html>